*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Poppins;
}
.main-container{
    display: flex;
    flex-direction: row;
    /* height:100vh; */
    border:2px solid rgb(206, 206, 206);
    border-radius: 12px;
    margin: 20px 0px 20px 100px;
    width: 80vw;
}
.sidebar{
    width: 15%;
    background-color: #002e58;
    border-radius: 10px 0px 0px 12px;
}
.content{
    width:80%;
    height: 100%;
    display: flex;
    margin: 15px;
    flex-direction: column;
    font-size: 0.8em;
    color: rgb(27, 26, 26);
}
.content .name{
    font-weight: bold;
    font-size: 1.8em;
    color: #002e58;
}
.content .role{
    font-weight: bold;
    font-size: 1.2em;
    color: #002e58;
}
.contacts{
    height: 4em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.first-row{
    display: flex;
    flex-direction: column;
    margin-right: 4em;
}
.icon{
    color: white;
    border-radius: 50%;
    background-color: #002e58;
    border: none;
    padding: 4px 5px;
    margin-right: 0.5em;
    font-size: 0.7em;
}
.contact .text{
    font-size: 0.9em;
}
.contact{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.key{
    font-weight:bold;
}
.explained{
    margin-top: 10px;
}
.explained .bolded{
    color: black;
    font-weight: bold;
}
.my-works{
    margin-top: 2em;
    position: relative;
}
.my-works::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #002e58;
    left: 14px;
    z-index: -1;
}
.header{
    display: flex;
    flex-direction: row;
}
.header button{
    /* padding: 6px 8px; */
    width: 30px;
    height: 28px;
    color: #fff;
    background-color: #002e58;
    z-index: 1;
    border-radius: 50%;
    border: none;
    margin-right: 10px;
    text-align: center;
}
.header h2{
    font-weight: bold;
    color: #002e58;
    font-size: 1.4em;
}
.major-list{
    margin-left: 2.5em;
}
.major-list .major-li{
    font-size: 1em;
    opacity: 0.9;
    font-weight: lighter;
    padding-bottom: 4px;
    list-style: none;
    position: relative;
}
.major-list .major-li::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #002e58;
    border-radius: 50%;
    left: -22px;
    top: 7px;
}
.minor-head{
    color: black;
    font-size: 1.2em !important;
    /* color: red; */
    font-weight: bold !important;
}
.timeline{
    display: flex;
    flex-direction: row;
}
 .timestamp{
    /* margin-left: -10em; */
    position: absolute;
    left: -13em;
    top: -10px;
    color: white;
    font-size: 14px;
    display: inline;
    margin-top: 10px;
}
.time li{
    margin: 0;
    padding: 0;
}
.minor-list{
    margin-left: 1.5em;
    list-style: circle;
}
.minor-list li,p{
    font-size: 1em;
    opacity: 0.9;
    font-weight: lighter;
}
.dot-container{
    display: flex;
    flex-direction: row;
}
.soft-rate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rating{
    display: flex;
    flex-direction: column;
}
.dot{
    background-color: #002e58;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-right: 5px;
}
.dot-white{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: rgb(197, 195, 195) !important;
}
.rate-text{
    font-size: 1em;
    margin: 7px 0px 6px 12px;
}